
.card {
    float: left;
    /* background-color: pink; */
    height: 165px;
    width: 165px;
    
    margin: 5px;
    transform-style: preserve-3d;
    transition: transform 1s;
    
}

img.back{
    position: absolute;
    backface-visibility:hidden;

}
.card img {
    position: absolute;
    backface-visibility: hidden;
} 


.front {
    transform: rotateY( 180deg );
    
}
.back {
    transform: rotateY(0deg);
    z-index: 2;
   
}

.flipped {
    transform: rotateY( 180deg );
}
